@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Exo';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/viviz/OneDrive/Documents/GitHub/website/fonts/Exo/900italic.ttf') format('truetype');
}
